@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --color-primary: #0a0a0a;
  --color-secondary: #4297a0;
  --color-tertiary: #2f5061;
  --color-accent: #e57f84;
  --color-secondary-accent: #e4e290;
  --color-background: #f4eae6;
  --font-family-primary: "League Spartan", sans-serif;
  --font-family-secondary: "Titillium Web", sans-serif;
  --font-weight-primary: 400;
  --font-weight-secondary: 700;
  --font-weight-tertiary: 900;
  --font-size-primary: 1rem;
  --font-size-secondary: 1.5rem;
  --font-size-tertiary: 2rem;
  --font-size-quaternary: 3rem;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

body {
  color: var(--color-primary);
  background-color: var(--color-background);
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-primary);
  font-size: var(--font-size-secondary);
  /* margin: 0;
  padding: 0; */
}

.body-container {
  max-width: 100vw;
}

.main-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 1.5rem;
  padding-top: 240px;
}

@media (max-width: 768px) {
  .main-container {
    padding-top: 120px;
  }
}
.main-grid {
  width: 95%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .main-grid {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}
.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

@media (max-width: 768px) {
  .about-grid {
    grid-template-columns: 1fr;
  }
}

.bobbi {
  padding-top: 60rem;
  /* opacity: 0;
  transition: opacity 1s ease; */
}

.bobbi.visible {
  /* opacity: 1 !important; */
}

.bobbi img {
  object-fit: contain;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .main-card1,
  .main-card2,
  .main-card3,
  .main-card4,
  .main-card5,
  .main-card6 {
    width: 100%;

  }
}

@media (max-width: 768px) {
  .main-card3,
  .main-card4 {
    margin: 2rem;
    margin-bottom: 8rem;
    margin-top: 8rem;
  }
}

.main-card1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 65px;
  padding: 2rem;
  margin: 2rem;
  box-shadow: #2f5061 0px 0px 20px;
  width: 100%;
  /* background-image: linear-gradient(
    var(--color-accent),
    var(--color-secondary-accent)
  ); */
  background-color: var(--color-secondary-accent);
}

.main-card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 65px;
  padding: 2rem;
  margin: 2rem;
  box-shadow: #2f5061 0px 0px 20px;
  object-fit: contain;
  width: 60%;
  /* background-image: linear-gradient(
    var(--color-secondary-accent),
    var(--color-secondary)
  ); */
  margin-left: auto;
  background-color: var(--color-secondary);
}

.why-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.main-card3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 65px;
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 16rem;
  box-shadow: var(--color-secondary) 0px 0px 20px;
}

.main-card4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 65px;
  padding: 2rem;
  margin: 2rem;
  margin-top: 16rem;
  box-shadow: var(--color-secondary) 0px 0px 20px;
}

.main-card5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 2rem;
}

.main-card6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: solid 1px var(--color-primary);
  padding: 2rem;
  margin: 2rem;
}

/*////////////////////////////////////////////// navbar /////////////////////////*/
@media (max-width: 767px) {
  .navbar {
    flex-direction: row;
    align-items: center;
  }

  .logo-name {
    padding: 1rem;
  }

  .navbar ul {
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  .navbar li {
    margin: 0.5rem 0;
  }
}

.navbar {
  display: flex;
  background-color: var(--color-secondary);
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom-left-radius: 180px;
  border-bottom-right-radius: 180px;
  max-height: 65px;
}

.navbar ul {
  /* display: flex; */
  justify-content: space-between;
  list-style: none;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0;
  position: relative;
  width: 100%;
}

.logo-name {
  display: flex;
  justify-content: flex-start;
  text-shadow: #2f5061 0px 0px 10px;
  padding-left: 4rem;
  width: 90%;
}

.logo-name h1 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-secondary);
  color: var(--color-primary);
}

.navbar li {
  /* display: flex; */
  
  flex-direction: row;
  margin-right: 10px;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar a {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  text-decoration: none;
  margin: 1rem;
  padding: 5px 10px;
  /* border-radius: 45px; */
  font-size: 1.1rem;
  font-weight: var(--font-weight-secondary);
}

.navbar a:hover {
  /* box-shadow: #2f5061 0px 0px 10px; */
  color: var(--color-background);
}

/*///////////////////////////////// header ////////////////////////////// */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  padding: 15px;
  margin-bottom: 160px;
}

.header h1 {
  font-size: 3.5rem;
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-tertiary);
  color: var(--color-primary);
}

@keyframes fill {
  0% {
    fill: black;
  }
  100% {
    fill: black;
  }
}

.animate-fill {
  animation: fill 4s linear 1s forwards;
}

.header p {
  font-size: 1.4rem;
  width: 60%;
  text-align: center;
  margin-top: 1.4rem;
}

.header a {
  color: #333;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 1.4rem;
}

.header a:hover {
  background-color: var(--color-secondary);
  padding: 5px 10px;
  border-radius: 5px;
}

/*////////////////////// about ///////////////////*/

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}
.about-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.about-headline {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-tertiary);
  color: var(--color-primary);
  font-size: var(--font-size-quaternary);
}

.about-content {
  width: 70%;
}

.about-card {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.about-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.about-card h3 {
  font-size: 1.3rem;
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-secondary);
}

.about-card h2 {
  font-size: 1.8rem;
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-secondary);
}

.about-card p {
}

.about-wrapup {
  margin-top: 6.4rem;
  margin-bottom: 1.4rem;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.about-wrapup.visible {
  opacity: 1;
  transform: translateY(0);
}

/*//////////////////////////////// projects ////////////////////////////////////////*/

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 60%;
}

.projects-title {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-tertiary);
  color: var(--color-primary);
  font-size: var(--font-size-quaternary);
}
.embla {
  overflow: hidden;
  border: 2px solid rgb(80, 79, 98);
  border-radius: 10px;
  box-shadow: 0px 0px 12px rgb(80, 79, 98);
}

.embla p {
  margin: 2rem;
}

.embla h1 {
  margin: 2rem;
}

.embla__container {
  display: flex;
}

.embla__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .embla__container img {
    width: 80%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .embla__container img {
    width: 100%;
    height: auto;
  }
}

.embla__container h1 {
  font-size: 1.8rem;
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-tertiary);
  color: var(--color-primary);
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__slide h1 {
  margin-top: 1.4rem;
}

.embla__slide p {
  font-family: var(--font-family-primary);
  margin-top: 1.4rem;
  font-size: 1.3rem;
}

.scroll-index {
  position: relative;
  z-index: 100;
  margin-top: 10px;
}

.scroll-index button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  border: none;
  outline: none;
}

.scroll-index button.active {
  background-color: var(--color-accent);
}

.scroll-index button.inactive {
  background-color: #cccccc;
}
/* //////////////////////////////////// Company ///////////////////////////// */

.company-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.company-container h1 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-tertiary);
  color: var(--color-primary);
  font-size: var(--font-size-tertiary);
}
.company-container span {
  margin-top: 1rem;
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary);
  color: var(--color-primary);
  font-size: 1.5rem;
}
.company-card {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.company-card h2 {
  font-size: 1.5rem;
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-secondary);
}

.company-card p {
  font-size: 1.4rem;
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary);
  color: var(--color-primary);
}

.company-logo1 {
  position: relative;
}

.company-logo1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/magnifying.jpg");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.22;
  z-index: -1;
}

.company-logo2 {
  position: relative;
}

.company-logo2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/data.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.22;
  z-index: -1;
}

.company-logo3 {
  position: relative;
}

.company-logo3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/brainheart.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.22;
  z-index: -1;
}

/*////////////////////////////////////////// WhyMe ////////////////////////////////////// */

.whyme-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.whyme-container h1 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-tertiary);
  color: var(--color-primary);
  font-size: var(--font-size-tertiary);
}

.whyme-container span {
  margin-top: 1rem;
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary);
  color: var(--color-primary);
  font-size: 1.5rem;
}

.whyme-card {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.whyme-card h2 {
  font-size: 1.5rem;
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-secondary);
}

.whyme-card p {
  margin-top: 0.5rem;
  font-size: 1.4rem;
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary);
  color: var(--color-primary);
}
.whyme-card p.visible {
  opacity: 1;
  transform: translateY(0);
}

.why-me1 {
  position: relative;
}

.why-me1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/brainicon.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.22;
  z-index: -1;
}

.why-me2 {
  position: relative;
}

.why-me2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/handshake.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.22;
  z-index: -1;
}

.why-me3 {
  position: relative;
}

.why-me3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/passion1.png");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.22;
  z-index: -1;
}

/*////////////////////////////// skills //////////////////////////////*/

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.skills-container h1 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-tertiary);
  color: var(--color-primary);
  font-size: var(--font-size-quaternary);
  margin-bottom: 3rem;
}

.skills-container h3 {
  margin-top: 1rem;
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-secondary);
  color: var(--color-primary);
  font-size: 1.5rem;
}
.skills-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

.skill-icons {
  display: flex;
  grid-gap: 1rem;
}

.skill {
  margin-top: 1rem;
}

/*///////////////////////////// references ///////////////////////////////*/

.references-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.references-container h1 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-tertiary);
  color: var(--color-primary);
  font-size: var(--font-size-quaternary);
  margin-bottom: 3rem;
}

.references-container span {
  margin-top: 1rem;
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary);
  color: var(--color-primary);
  font-size: 1.5rem;
}

.references-grid {
  margin-top: 2rem;
}

.references-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.references-card h2 {
  font-size: 1.5rem;
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-secondary);
}

.references-card p {
  margin-top: 0.5rem;
  font-size: 1.4rem;
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary);
  color: var(--color-primary);
}

/*////////////////////////////////// socials */

.socials {
  margin-top: 3.4rem;
  margin-bottom: 3.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
  right: auto;
  bottom: 0;
  padding: 20px;
  top: 0;
  z-index: 100;
  background-color: var(--color-secondary);
  left: 0;
  color: var(--color-background);
}

.socials-links {
  list-style: none;
  margin: 0;
  padding-top: 1.5rem;
}

.socials-links svg {
  size: 1.4rem;
}

.socials-links:hover {
  color: var(--color-tertiary);
}

/* //////////////////////// footer /////////////////////////////*/

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--color-secondary);
  padding: 10px;
  margin-top: 20px;
}

.footer p {
  font-size: 0.8rem;
  margin-right: 2rem;
  color: white;
}

/*////////////////////// Hamburger ////////////////////////*/
.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 20px;
  cursor: pointer;
  margin-right: auto;
}

.hamburger-menu .line {
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: all 0.3s ease;
}

.hamburger-menu.open .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: black;
}

.hamburger-menu.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: black;
}

.hamburger-menu.closed .line:nth-child(1) {
  transform: translateY(0) rotate(0);
  background-color: #000;
}

.hamburger-menu.closed .line:nth-child(2) {
  opacity: 1;
}

.hamburger-menu.closed .line:nth-child(3) {
  transform: translateY(0) rotate(0);
  background-color: #000;
}

.menu-list {
  position: absolute;
  right: 0;
  background-color: rgba(249, 249, 249, 0.8);
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
}

.menu-list li {
  margin-bottom: 8px;
}

.menu-list a {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
}

/* Media Queries */
@media (min-width: 1945px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-name {
    order: 1;
  }

  ul {
    display: flex;
    list-style: none;
    order: 2;
    margin-left: auto; /* Added to align the menu items to the right */
  }

  ul li {
    margin-right: 16px; /* Adjusted to margin-right instead of margin-left */
  }

  ul li:last-child {
    margin-right: 0;
  }

  .max-w-full {
    display: none;
  }
}